@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "flowbite"; */

@layer base {
    @font-face {
        font-family: Proxima Nova;
        font-weight: 400;
        src: url("../../public/assets/fonts/Mandala/Mandala Regular.otf") format("opentype");
    }
}

@layer components {
    .input-style {
        @apply p-2 border border-gray-300 rounded-md focus:outline-none focus:border-green-500 text-sm bg-white text-black placeholder-gray-500
    }
    .nav-button{
        @apply cursor-pointer rounded-lg hover:bg-gray-200 p-1 box-border align-middle
    }
    .icon-size{
        @apply w-6 h-6
    }
    button{
        @apply transition-all duration-200
    }
    html, body{
        @apply h-full
    }
}
input[type="radio"] {
  accent-color: green;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f3f4f6; /* Tailwind color - gray-100 */
}

::-webkit-scrollbar-thumb {
    background-color: #d1d5db; /* Tailwind color - gray-500 */
    border-radius: 2rem;
    border: 2px solid #f3f4f6; /* Tailwind color - gray-100 */
}
